@import url('fonts.css');

body {
	--base-font-family:
		Whitney, 'Segoe UI', Roboto, 'Noto Sans',
		Calibri, 'Lucida Sans Unicode', 'Helvetica Neue', 'Helvetica',
		-apple-system, BlinkMacSystemFont, Arial, sans-serif;
	font-family: var(--base-font-family);
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: 'lnum' 1;
	font-size: 18px;

	margin: 0 auto;
	max-width: 90rem;

	text-decoration-skip-ink: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	scroll-padding-top: 3.5em;
}
article {
	padding: 0 1em;
	margin: 1em 0 2em;
	/* Enabling this prevents position: sticky; headings */
	/*overflow-x: hidden;*/
}
header.masthead {
	border: 1px solid black;
	border-width: 3px 0 1px;
	margin: 1em 0 2em;
	padding: 0.5em 1em;
	background: #B8F2E6;
}
header.masthead h1 {
	font-size: 1.8em;
	font-weight: 300;
	margin: 0.5em 0;
}
footer {
	font-size: smaller;
	border-top: 1px solid black;
	margin: 1em 0;
	text-align: right;
}

.columns {
	column-gap: 2rem;
}
.columns-section {
	margin: 2em 0;
}
.columns-section .keep:first-of-type h3,
.columns-section > dl,
.columns-section .keep:first-of-type dd > p:first-child {
	margin-top: 0;
}
@media screen and (min-width: 54rem) {
	.columns {
		column-count: 2;
	}
}
@media screen and (min-width: 81rem) {
	.columns {
		column-count: 3;
	}
}

h1 {
	font-size: 1.5em;
	font-weight: 600;
}
h2 {
	font-size: 1.25em;
	font-weight: 600;
}
h3 {
	font-size: 1.1em;
	font-weight: 600;
}

ul.inline {
	display: inline;
	list-style: none;
	padding: 0;
}
ul.inline li {
	display: inline;
	margin-right: 0.4em;
}

.dictionary section h2 {
	/* TODO change em to rem, change h2 to .heading */
	margin: 0.5em 0 0;
	padding: 0.75em;
	text-align: center;
	background: white;

	position: sticky;
	top: 0;
	z-index: 1;

	display: grid;
	grid-template-columns: [a] 7em auto [b] 7em;
}
.dictionary section h2 > :first-child {
	grid-column-start: 2;
}
.dictionary#lang-family section h2 {
	text-align: left;
}
.heading-right {
	font-weight: 300;
	font-size: 0.9rem;
	margin-left: auto;
}
.heading-right a {
	margin-left: 1em;
}

.entry {
	display: block;
	line-height: 1.35;
	padding: 0.25em;
	padding-left: 1em;
	text-indent: -0.75em;
}
.keep {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}
.entry > * {
	text-indent: 0;
}
:target {
	background: #faf48f !important;
}
.exemplar {
	background: #d2f8fd;
}

.ml {
	margin-left: 0.4em;
}
.mr {
	margin-right: 0.4em;
}
.sp {
	font-size: 0;
}

.dictionary a:not(.link),
header > :not(nav) a:not(.link) {
	text-decoration: none;
	color: inherit;
}

.headword {
	font-weight: 700;
}

a.lang:hover {
	background: #B8F2E6;
	cursor: pointer;
}
.lang {
	font-size: 75%;
	font-weight: 500;

	border: 1px solid #555;
	color: #555;
	padding: 0 0.3em;
	display: inline-block;
	min-width: 1.2em;
	width: auto;
	text-align: center;
	text-indent: 0;
}
.lang.main {
	color: black;
	border-color: black;
	font-weight: 600;
}
.lang.first {
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	padding-left: 0.4em;
}
.lang.last {
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	padding-right: 0.4em;
}
.lang:not(.first) {
	border-left: 0;
}

.lang[title] {
  position: relative;
}
.lang[title]:hover:after {
  content: attr(title);
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.1em 0;
  position: absolute;
  left: 0em;
  top: -1.6em;
}

.etym {
	white-space: nowrap;
}

.pron {
	font-weight: 500;
	color: #027BCE;
}
.dictionary .pron {
	user-select: all;
}
.IPA {
	color: inherit;
	line-height: 1.2em;
	font-weight: 600;
	font-family: 'Minion 3', 'Brill', 'Gentium', 'Segoe UI', 'Lucida Grande', 'Lucida Sans Unicode', 'Noto Sans', 'Noto Serif', 'Arial Unicode MS', 'Arial', 'Calibri', 'Cambria', sans-serif;
	font-feature-settings: 'ss20' 1, 'ss06' 1;
}
.or {
	color: #888;
}
.sym {
	color: #888;
	font-weight: 400;
	font-family: var(--base-font-family);
}

.orth {
	unicode-bidi: isolate;
}
.orth[lang='he'], .orth[lang='heb'] {
	font-family: 'SBL Hebrew', 'Adobe Hebrew', var(--base-font-family);
	font-size-adjust: 0.5;
}
.orth[lang='hbo'], .orth[lang='yi'], .orth[lang='arc'] {
	font-family: 'Adobe Hebrew', 'SBL Hebrew', var(--base-font-family);
	font-size-adjust: 0.55;
}

.h {
	font-style: italic;
}

.review {
	color: #3E7690;
	font-variant: small-caps;
}
.review-flex {
	display: flex;
	align-items: center;
}
.review-flex > * + * {
	margin-left: 0.5em;
}

.category {
	font-style: italic;
}

.author {
	font-size: 0.75em;
}
.author[data-author=OL] { color: #939 !important; font-weight: 700; }
.author[data-author=MW] { color: #393 !important; font-weight: 400; }

.extlinks {
	font-size: 0.75em;
	color: #bbb;
}

dt {
	font-weight: 500;
}
dd dl.compact.g {
	margin-top: 0;
	margin-bottom: 0;
}
dl.compact.g dd {
	overflow: hidden;
}
dl.compact dt, dl.compact dd {
	margin: 0;
}
dl.compact dt {
	width: 7em;
	float: left;
	clear: both;
}
dl.compact dd {
	margin-left: 7.5em;
}
dl.compact::after {
	clear: both;
	content: '';
	display: table;
}
dl.compact.x dt { width: 1.125em; }
dl.compact.x dd { margin-left: 2.5em; }
dl.compact.m dt { width: 3.5em; }
dl.compact.m dd { margin-left: 4em; }

.tabular-nums {
	font-variant-numeric: tabular-nums;
	-moz-font-feature-settings: 'tnum' 1;
}
dl.compact.x.tabular-nums dt {
	text-align: right;
}
dl.compact.x.tabular-lang dt {
	font-variant: all-small-caps;
	/*font-family: Consolas, monospace;*/
	/*font-size: 0.9;*/
}

img {
	border: 0;
	max-width: 100%;
}

svg {
	flex-shrink: 0;
}
.c-1, .c0 { fill: #e41a28; }
.c2,  .c3 { fill: #00cf45; }
.c1       { fill: #666; }
.axis line {
	stroke: #e4e4e4;
	stroke-width: 0.1px;
	/*vector-effect: non-scaling-stroke;*/
}
.axis, .label {
	fill: #ccc;
}
text, tspan {
	text-anchor: middle;
	/*dominant-baseline: middle;*/
}
.bar .label text {
	text-anchor: start;
}
.radar {
	font-size: 7.5px;
}
.bar {
	font-size: 1.5px;
}
.axis {
	font-variant-numeric: oldstyle-nums;
}
.review .toggle { visibility: hidden; }
.review:hover .toggle { visibility: visible; }

.audio-controls button {
	width: 2.25em;
}

.overflow {
	max-width: 100%;
	overflow-x: auto;
}
table {
	border-spacing: 0.75em 2px;
}
th, td {
	padding: 1px 2px;
	vertical-align: top;
}
th {
	font-weight: 600;
}
thead th {
	padding: 0.2em;
	vertical-align: middle;
	border-bottom: 1px solid black;
}
tbody th {
	padding-right: 0.5em;
	vertical-align: top;
	text-align: left;
}
tbody th,
tbody th ~ th,
tbody th ~ td {
	padding-top: 0.625em;
}
tbody th[rowspan],
tbody th[rowspan] ~ th,
tbody th[rowspan] ~ td {
	padding-top: 1em;
}

tr.example {
	font-size: 0.8em;
}
tr.example mark {
	color: inherit;
	background: none;
	text-decoration: underline;
	text-decoration-color: #888;
}
tr.example .pron {
	font-weight: 400;
}

blockquote.example {
	padding: 0.5em 0.65em;
	margin: 0;
	background: #f1f1f1;
	border-radius: 0.25em;
	width: fit-content;
}
.bib {
	margin-left: 1em;
	text-indent: -1em;
}
.bib cite, .bib + p cite {
	font-style: italic;
	font-weight: 500;
}

sup.fn-ref {
	vertical-align: baseline;
	font-size: 100%;
	line-height: inherit;
	font-variant-position: super;
	font-feature-settings: 'sups'; /* until wider support */
}
